/* DetailsModal.css */

.details-modal-content {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #101067bf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    color: #f5dbdb;
}

.details-modal-content .left-column,
.details-modal-content .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;
}

.details-modal-content .left-column {
    padding-right: 20px; /* Space between columns */
}

.details-modal-content .right-column {
    padding-left: 20px; /* Space between columns */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the right */
}

.details-modal-content .top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-modal-content .top-left {
    display: flex;
    flex-direction: column;
}

.details-modal-content p {
    margin: 9px 0;
    font-size: 16px;
}

.details-modal-content p strong{
    font-size: 14px;
    background-color: #383b63;
    padding: 7px 10px;
    border-radius: 5px;
}

.details-modal-content .highlight {
    color: #f5dbdb;
    margin-left: 5px;
}

.details-modal-content input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

.details-modal-content input[type="text"]:focus {
    border-color: #f68989;
    outline: none;
}

.details-modal-content select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.details-modal-content select:focus {
    border-color: #007bff;
    outline: none;
}

.details-modal-content .receipt-image {
    max-width: 100px;
    height: auto;
    border-radius: 4px;
    margin-top: 10px;
}

.p-dialog {
    border-radius: 8px;
}

.p-dialog .p-dialog-header {
    background-color: #101067;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 18px;
    font-weight: bold;
}

.p-dialog .p-dialog-content {
    padding: 20px;
}

.p-dialog .p-dialog-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
}
.status-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #101067;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #fff;
}


.status-container p strong{
    color: #d6d1d1;
  }

  .status-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .highlight {
    margin-left: 15px;

  }
  
  .status-select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  

  .my-custom-popup {
    z-index: 999999; /* Set your desired z-index */
}
